{% extends 'gent_base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add New Virtualization Manager</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />

	<div class="clearfix xpanel col-md-8 " >
		
		
    	<form method="POST" class="post-form">
    	{% csrf_token %}
    		<table class="table table-striped jambo_table bulk_action table-hover table-bordered dt-responsive nowrap"  >
        			<tr>
        			<td><label class="control-label"  >Manager Name</td>
                    <td><input type="text" id="manager_name" name="manager_name" placeholder="MyManager" required="required" value="{{manager.name}}" class="form-control col-md-7 col-xs-12"></td>
                </tr>
        		<tr>
        			<td><label class="control-label"  >FQDN</td>
                    <td><input type="text" id="manager_fqdn" name="manager_fqdn" placeholder="manager1.local.domain" required="required" value="{{manager.fqdn}}" class="form-control col-md-7 col-xs-12"></td>
                </tr>
                <tr>
        			<td><label class="control-label"  >URL</td>
                    <td><input type="text" id="manager_url" name="manager_url" placeholder="https://manager1.local.domain/ovirt-engine/api" required="required" value="{{manager.url}}" class="form-control col-md-7 col-xs-12"></td>
                </tr>
                <tr>
        			<td><label class="control-label"  >Username</td>
                    <td><input type="text" id="manager_username" name="manager_username" placeholder="admin@internal" required="required" value="{{manager.username}}" class="form-control col-md-7 col-xs-12"></td>
                </tr>
                <tr>
        			<td><label class="control-label"  >Password</td>
                    <td><input type="password" id="manager_password" placeholder="password" name="manager_password" required="required" value="{{manager.password}}" class="form-control col-md-7 col-xs-12"></td>
                </tr>
                <tr>
        			<td><label class="control-label"  >Verification Status</td>
                    <td>{%if verified %}<i class="fa fa-check-circle" style="color:green"></i> {%else%}<i class="fa fa-minus-circle" style="color:red"></i>{%endif%}</td>
                </tr>
                
        		
        	</table>
        	<button type="submit" name="manager_save" value="manager_save" class="save btn btn-danger">Save</button>
        	<button type="submit" name="manager_verify" value="manager_verify" class="save btn btn-warning	">Verify Connection</button>   
        	<button name="manager_cancel" onclick="window.location.href='/managers/'" value="manager_cancel" class="btn btn-info">Cancel</button>
    	</form>
    	</div>
    

                  </div>
                </div>
              </div>
            </div>
	




{% endblock%}
