{% extends 'gent_base.html' %}
{% load staticfiles %}

{% block content %}
        
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> Total Managers</span>
              <div class="count">{{dash.manager_count}}</div>
              <span class="count_bottom"><i class="green">100% </i> Uptime </span>
            </div>          
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-server"></i> Total Hosts </span>
              <div class="count">{{dash.host_count}}</div>
              <span class="count_bottom"><i class="green">100% </i> Uptime </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-desktop"></i> Virtual Machines</span>
              <div class="count">{{dash.vm_count}}</div>
              <span class="count_bottom"><i class="green">100% </i> Uptime </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="glyphicon glyphicon-save-file"></i> Total Backup Size</span>
              <div class="count green">{{ dash.total_backup }} TB</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Success Rate</span>
              <div class="count green">95%</div>
              <span class="count_bottom">From Last Day </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Capacity</span>
              <div class="count">{{ dash.total_backup }} TB</div>
              <span class="count_bottom">From Last Day </span>
            </div>
          </div>
           <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>VM Distribution</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id="echart_pie2" style="height:350px;"></div>

                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Backup Results</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id="echart_pie" style="height:350px;"></div>

                  </div>
                </div>
              </div>
       

          <!-- /top tiles -->

{% endblock%}












