{% extends 'gent_base.html' %}
{% load staticfiles %}

{% block content %}

 <div class="row">
              <div class="">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Modify Schedule<small></small></h2>
                    <div class="clearfix"></div>
                    {% ifnotequal sched_exists "initial" %}
						<div class="alert alert-info alert-dismissable">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  							<strong>Warning!</strong> Schedule name already exists.
						</div>
					{% endifnotequal%}
                  </div>
                  <div class="x_content">
                  <form method="POST" class="post-form">
                  {% csrf_token %}
                  		Name
	 					<div class="well" style="overflow: auto">
	 						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >Schedule Name <span class="required">*</span>
                        	</label>
                        	<div class="col-md-6 col-sm-6 col-xs-12">
                          		<input type="text" name="sched_name" name="sched_name" required="required" value="{{sched.name}}" class="form-control col-md-7 col-xs-12">
                        	</div>
	 					</div>
                  		Crontab <a href="#" data-html="true" data-toggle="tooltip" title="0 22 * * * - everyday at 22 <br>0 23 * * 0 - every Saturday at 23"><i class="fa fa-info-circle"></i></a>
	 					<div class="well" style="overflow: auto">
						
               			<table id = "editsched" class="table table-striped jambo_table bulk_action table-hover table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
               	            <input type="hidden" name="sched_id" value="{{ sched.id }}">
	  						<tr>
	  							<td><label for="sel1">Minute<br>(0-59)</label></td>
		  						<td><select class="form-control" name="sched_min">
		  						{% for x in minutes %}
		  						<option value="{{x}}" {% ifequal sched.minute  x|stringformat:"i" %} selected{% endifequal %}>{{x}}</option>
		  						{% endfor %}
		  						    									    									    				    							    							    
							    </td>
		  						<td><label for="sel1">Hour<br>(0-23)</label></td>
		  						<td><select class="form-control" name="sched_hour" >
		  						{% for x in hours %}
		  						<option value="{{x}}" {% ifequal sched.hour  x|stringformat:"i" %} selected{% endifequal %}>{{x}}</option>
		  						{% endfor %}
							    </td>
							    <td><label for="sel1">Day of Month<br>(1-31)</label></td>
		  						<td><select class="form-control" name="sched_month">
		  						{% for x in days %}
		  						<option value="{{x}}" {% ifequal sched.day  x|stringformat:"i" %} selected{% endifequal %}>{{x}}</option>
		  						{% endfor %}		  						
							    </td>
							    <td><label for="sel1">Month of Year<br>(1-12)</label></td>
		  						<td><select class="form-control" name="sched_year">
		  						{% for x in months %}
		  						<option value="{{x}}" {% ifequal sched.month  x|stringformat:"i" %} selected{% endifequal %}>{{x}}</option>
		  						{% endfor %}
		  						</td>
							    <td><label for="sel1">Day of Week <br>(0-6)</label></td>
		  						<td><select class="form-control" name="sched_week">
		  						{% for x in weekdays %}
		  						<option value="{{x}}" {% ifequal sched.week  x|stringformat:"i" %} selected{% endifequal %}>{{x}}</option>
		  						{% endfor %}
		  						</td>							    							    
							</tr>
						  </select>
						</table>
						</div>
						Virtual Machines
						<div class="well" style="overflow: auto">
						<table id = "datatable-backups" class="table table-striped jambo_table bulk_action table-hover table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>           
                          <th>Name</th>
                          <th>Manager</th>
                          <th>Cluster</th>
                          <th>Data Center</th>
                          <th>VM ID</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                      	{% for vm in vms %}
                        <tr>
                          <td><input type="checkbox" class="flat" name="schedvmlist" {% if vm in backupvms %}checked {% endif %} value="{{vm.vmid}}"/>&nbsp;{{ vm.name}}</td>
                          <td>{{ vm.cluster.dc.manager.name}}</td>
                          <td>{{ vm.cluster.name}}</td>
                          <td>{{ vm.cluster.dc.name}}</td>
                          <td>{{ vm.vmid}}</td>
                          

                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
						</div>
                  </div>
                  <button type="submit" class="save btn btn-danger">Save</button>
                  </form>
                  <button type="submit" class="btn btn-primary" onclick="window.location.href='/schedules/'" >Cancel</button>
                </div>
              </div>              
	</div>	


{% endblock%}
