{% extends 'gent_base.html' %}
{% load staticfiles %}

{% block content %}

 <div class="row">
              <div class="">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Schedules<small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  
                  
				    <table class="table table-striped jambo_table bulk_action table-hover table-bordered dt-responsive nowrap" >
                      <thead>
                        <tr>                          
                          <th>Schedule ID</th>
                          <th>Schedule Name</th>
                          <th>Minute</th>
                          <th>Hour</th>
                          <th>Day of Month</th>
                          <th>Month of Year</th>
                          <th>Day of Week</th>
                          <th>Action</th>                         
                        </tr>
                      </thead>
                      <tbody>
                      	{% for sched in scheds %}
                      	<form method="POST" class="post-form">
                      	{% csrf_token %}
                        <tr>
                          <input type="hidden" name="sched_id" value="{{ sched.id }}">                         
                          <td>{{ sched.id }}</td>
                          <td>{{ sched.name }}</td>
                          <td>{{ sched.minute }}</td>
                          <td>{{ sched.hour }}</td>
                          <td>{{ sched.month }}</td>
                          <td>{{ sched.year }}</td>
                          <td>{{ sched.week }}</td>
                          <td>                          	
                          	<button type="submit" class="btn btn-warning btn-xs" >Modify</button>
                          	<button type="submit" class="btn btn-danger btn-xs" type="submit" name="delete_sched" value="delete" data-target="#confirm-delete" data-toggle="modal">Delete</button>                          
                          </td>
                        </tr>
                        </form>
                        {% endfor %}
                       
                      </tbody>
                    </table>
                  </div>
                  <button type="submit" class="save btn btn-info" onclick="window.location.href='/definesched/'" >Define a Schedule</button>
                  
                </div>
              </div>              
	</div>	

{% endblock%}
