{% extends 'gent_base.html' %}
{% load staticfiles %}

{% block content %}

 <div class="row">
              <div class="">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Defined Schedules<small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
				    <table class="table" >
                      <thead>
                        <tr>           
                          <th>sdsds</th>
                        </tr>
                      </thead>
                      <tbody>
                      	{% for vm in vms %}
                        <tr>
                          <td>{{ vm }}</td>
                        </tr>
                        {% endfor %}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>              
	</div>	


{% endblock%}
