{% extends 'gent_base.html' %}
{% load staticfiles %}
{% load size_helper %}

{% block content %}



 <div class="row">
              <div class="">
                <div class="x_panel">
                  <div  class="x_title">
                    <h2>Backup Task History </h2>
                    <div class="pull-right">
                    			<label class="switch">
  									<input type="checkbox" checked id="refresh_button" onclick="page_refresh_jq()">
  									<div class="slider round"></div>
								</label>
								<br>
								<small>Auto-refresh</small>
					</div>  
         <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
				    
				    {% include "tasks_history_table.html" %}
					
					
                  </div>
                </div>
              </div>              
	</div>





{% endblock%}

