{% load staticfiles %}
{% load size_helper %}

   				    <table id="tasks-history-table" class="table table-hover table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead class="" >
                        <tr>           
                          <th>VM</th>
                          <th>Size</th>
                          <th>Status</th>
                          <th>Start</th>
                          <th>Last Update</th>
                          <th>End</th>
                        </tr>
                      </thead>
                      <tbody>
                      	{% for task in tasks %}
                        <tr >
                          
                          <td>{{ task.vmid.name }}</td>
                          <td>{{ task.size|to_GB|floatformat:2 }} GB</td>                          
                          {% if task.status == 0 %}
                          	<td class="success" >Successful</td>
                          {% elif task.status == 1 %}
                          	<td class="danger" > Failed </td>
                          {% elif task.status == 2 %}
                          	<td class="danger" >Aborted </td>
                          {% elif task.status == 3 %}
                          	<td class="info" >Initiated </td>
                          {% elif task.status == 4 %}
                          	<td class="info" >Creating snapshot</td>
                          {% elif task.status == 5 %}
                          	<td class="info" >Cloning Snapshot</td>
                          {% elif task.status == 6 %}
                          	<td class="info" >Removing Snapshot</td>
                          {% elif task.status == 7 %}
                          	<td class="info" >Exporting VM</td>
                          {% elif task.status == 8 %}
                          	<td class="info" >Removing Clone</td>                     	
                          {% endif %}
                          </td>
                          <td >{{ task.start |date:"Y/m/d H:i:s" }}</td>                          
                          <td>{{ task.updated |date:"Y/m/d H:i:s" }}</td>
                          <td>{{ task.end |date:"Y/m/d H:i:s"}}</td>
                          
                        </tr>                    
                        {% endfor %}
                        <tr>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        </tr>
                      </tbody>
					</table>

<script>

	function page_refresh_jq(){
		setInterval(function(){
			if (document.getElementById('refresh_button').checked){
			    $.ajax({    
			       url: '/tasks/',
			          success: function(data) {
			          $('#tasks-history-table').html(data);		          
			          }
			    });
			}
		}, 5000)
	}
	
	page_refresh_jq()
	

</script>     

